@import "tailwindcss";
@import './mobile-menu.css';

html, body {
  overscroll-behavior: none;
}

@font-face {
  font-family: 'Regesto Grotesk';
  src: url('src/assets/fonts/RegestoGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
}

@font-face {
  font-family: 'Titling Gothic FB';
  src: url('src/assets/fonts/TitlingGothicFBCond-Med.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
}

@theme {
  --font-regesto: 'Regesto Grotesk', serif;
  --font-titling: 'Titling Gothic FB', sans-serif;
}

@utility clip-down-right-menu {
    clip-path: polygon(0 0, 100% 0, 100% 82%, 95% 100%, 0 100%);
}

@utility clip-down-right-hero_mobile {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 94% 100%, 0 100%);
}

@utility clip-down-right-hero_desktop {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 98% 100%, 0 100%);
}