---
// Services.astro
import SectionHeader from "@/components/common/SectionHeader.astro";
import PlusIcon from "@/assets/icons/plus.svg";
---

<style>
  :global(.plus-cross) {
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  :global(.group:hover .plus-cross) {
    transform: rotate(90deg);
  }
</style>

<section id="services" class="bg-[#273023] py-20 w-full flex flex-col">
  <SectionHeader
    label="What we do"
    labelColor="#D4FF7B"
    title="Explore our services"
    titleColor="#FFF"
    class="px-10"
    titleClass="text-4xl lg:w-[48%]"
  />

  <div
    class="flex overflow-x-auto scrollbar-hide lg:px-10 [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
  >
    <!-- Card 1 -->
    <a
      href="/experiences"
      class="block"
      aria-label="Learn more about Sports experiences"
    >
      <div
        class="relative shrink-0 w-[346px] h-[400px] lg:w-[516px] lg:h-[588px] bg-white/5 hover:bg-[#1E231C] transition-all duration-300 group lg:-ml-8"
        style="clip-path: polygon(8% 0, 98% 0, 90% 100%, 0% 100%);"
      >
        <div
          class="absolute left-7 bottom-3 z-10 text-[#f3f5f2] text-3xl lg:text-5xl leading-none font-titling uppercase w-[50%]"
        >
          Sports experiences
        </div>
        <!-- mx-8 pt-6 -->
        <div class="overflow-hidden z-0 flex flex-col items-center">
          <img
            src="/images/sports_experiences.webp"
            alt="Facility 2"
            class="w-full h-full px-6 mt-6 lg:mt-4 group-hover:scale-116 transition-all duration-300 object-cover"
          />
        </div>
        <PlusIcon
          class="absolute right-12 lg:right-18 bottom-3 z-20 lg:w-16 lg:h-16 w-12 h-12"
        />
      </div>
    </a>
    <!-- Card 2 -->
    <div
      class="relative shrink-0 w-[346px] h-[400px] lg:w-[516px] lg:h-[588px] bg-white/5 -ml-6 hover:bg-[#1E231C] transition-all duration-300 group lg:-ml-10"
      style="clip-path: polygon(8% 0, 98% 0, 90% 100%, 0% 100%);"
    >
      <div
        class="absolute left-7 bottom-3 z-10 text-[#f3f5f2] text-3xl lg:text-5xl leading-none font-titling uppercase w-[50%]"
      >
        Sports tourism
      </div>
      <div class="overflow-hidden z-0 flex flex-col items-center">
        <img
          src="/images/sports_tourism.webp"
          alt="Sports tourism"
          class="w-full h-full px-6 mt-4 group-hover:scale-116 transition-all duration-300 object-cover"
        />
      </div>
      <PlusIcon
        class="absolute right-12 lg:right-18 bottom-3 z-20 lg:w-16 lg:h-16 w-12 h-12"
      />
    </div>
    <!-- Card 3 -->
    <div
      class="relative shrink-0 w-[346px] h-[400px] lg:w-[516px] lg:h-[588px] bg-white/5 -ml-6 hover:bg-[#1E231C] transition-all duration-300 group lg:-ml-10"
      style="clip-path: polygon(8% 0, 98% 0, 90% 100%, 0% 100%);"
    >
      <div
        class="absolute left-7 bottom-3 z-10 text-[#f3f5f2] text-3xl lg:text-5xl leading-none font-titling uppercase w-[50%]"
      >
        Talent development
      </div>
      <div class="overflow-hidden z-0 flex flex-col items-center">
        <img
          src="/images/talent_development.webp"
          alt="Talent development"
          class="w-full h-full px-6 mt-4 group-hover:scale-116 transition-all duration-300 object-cover"
        />
      </div>
      <PlusIcon
        class="absolute right-12 lg:right-18 bottom-3 z-20 lg:w-16 lg:h-16 w-12 h-12"
      />
    </div>
    <!-- Card 4 -->
    <div
      class="relative shrink-0 w-[346px] h-[400px] lg:w-[516px] lg:h-[588px] bg-white/5 -ml-6 hover:bg-[#1E231C] transition-all duration-300 group lg:-ml-10"
      style="clip-path: polygon(8% 0, 98% 0, 90% 100%, 0% 100%);"
    >
      <div
        class="absolute left-7 bottom-3 z-10 text-[#f3f5f2] text-3xl lg:text-5xl leading-none font-titling uppercase w-[50%]"
      >
        Travel Management
      </div>
      <div class="overflow-hidden z-0 flex flex-col items-center">
        <img
          src="/images/travel_management.webp"
          alt="Travel management"
          class="w-full h-full px-6 mt-4 group-hover:scale-116 transition-all duration-300 object-cover"
        />
      </div>
      <PlusIcon
        class="absolute right-12 lg:right-18 bottom-3 z-20 lg:w-16 lg:h-16 w-12 h-12"
      />
    </div>
    <!-- Card 5 -->
    <div
      class="relative shrink-0 w-[346px] h-[400px] lg:w-[516px] lg:h-[588px] bg-white/5 -ml-6 hover:bg-[#1E231C] transition-all duration-300 group lg:-ml-10"
      style="clip-path: polygon(8% 0, 98% 0, 90% 100%, 0% 100%);"
    >
      <div
        class="absolute left-7 bottom-3 z-10 text-[#f3f5f2] text-3xl lg:text-5xl leading-none font-titling uppercase w-[50%]"
      >
        Event creation & management
      </div>
      <div class="overflow-hidden z-0 flex flex-col items-center">
        <img
          src="/images/event_creation_management.webp"
          alt="Event creation & management"
          class="w-full h-full px-6 mt-4 group-hover:scale-116 transition-all duration-300 object-cover"
        />
      </div>
      <PlusIcon
        class="absolute right-12 lg:right-18 bottom-3 z-20 lg:w-16 lg:h-16 w-12 h-12"
      />
    </div>
    <!-- Card 6 -->
    <div
      class="relative shrink-0 w-[346px] h-[400px] lg:w-[516px] lg:h-[588px] bg-white/5 -ml-6 hover:bg-[#1E231C] transition-all duration-300 group lg:-ml-10 lg:-mr-10"
      style="clip-path: polygon(8% 0, 98% 0, 90% 100%, 0% 100%);"
    >
      <div
        class="absolute left-7 bottom-3 z-10 text-[#f3f5f2] text-3xl lg:text-5xl leading-none font-titling uppercase w-[50%]"
      >
        Sports consulting
      </div>
      <div class="overflow-hidden z-0 flex flex-col items-center">
        <img
          src="/images/sports_consulting.webp"
          alt="Sports consulting"
          class="w-full h-full px-6 mt-4 group-hover:scale-116 transition-all duration-300 object-cover"
        />
      </div>
      <PlusIcon
        class="absolute right-12 lg:right-18 bottom-3 z-20 lg:w-16 lg:h-16 w-12 h-12"
      />
    </div>
  </div>
</section>
