---
import CloseIcon from "@/assets/icons/close.svg";
import HamburgerIcon from "@/assets/icons/hamburger.svg";

export interface Props {
  id: string;
  isOpen: boolean;
}
const { id, isOpen } = Astro.props;
---

<button
  id={id}
  class="flex items-center justify-center cursor-pointer"
  aria-label={isOpen ? "Close menu" : "Open menu"}
>
  {isOpen ? <CloseIcon /> : <HamburgerIcon />}
</button>
